<nav class="bg-secondary-200 shadow-lg row-span-2">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button type="button"
                    class="inline-flex items-center justify-center rounded-md p-2 text-black-400 hover:bg-black-700 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-600"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
                    <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
                    <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
                <div class="flex flex-shrink-0 items-center">
                    <img class="block h-8 w-auto lg:hidden shadow-outline" src="img/icon.png"
                        alt="Logo de Stremea.me">
                    <img class="hidden h-8 w-auto lg:block shadow-outline" src="img/icon.png"
                        alt="Logo de Stremea.me">
                </div>
                <div class="hidden sm:ml-6 sm:block content-center">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="#" class="text-black-300 hover:bg-black-700 hover:text-gray-600 rounded-md px-3 py-2 text-sm font-medium
                            active:text-white">Iniciar sesión</a>
                        <a class="text-sm text-white font-medium bg-primary-100 hover:bg-primary-200 active:border-none active:mt-1
                            py-2 px-6 rounded-lg transition duration-300 
                            text-blue-900 
                            border-b-4 border-primary-300" href="">Registrarse</a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

                <!-- Profile dropdown -->

                <div class="relative ml-3">
                    <div class="flex space-x-4">
                        <button type="button"
                            class="flex rounded-full text-sm outline-none ring-0 ring-offset-2 hover:ring-offset-gray-600 ring-offset-gray-800 transition duration-100"
                            id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <span class="sr-only">Open user menu</span>
                            <img class="h-8 w-8 rounded-full bg-primary-100"
                                src="https://i.kym-cdn.com/photos/images/facebook/001/431/201/40f.png" alt="">
                        </button>
                        <!--                             
                        <button type="button" class="justify-center content-center p-1 text-gray-300">
                            <span class="sr-only">View notifications</span>
                            <svg class="h-6 w-6 pl-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15"><path fill="#000" d="M12 10V8H7V6h5V4l3 3zm-1-1v4H6v3l-6-3V0h11v5h-1V1H2l4 2v9h4V9z"/></svg>
                        </button> -->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#"
                class="text-black hover:text-gray-600 block rounded-md px-3 py-2 text-base font-medium">Iniciar
                sesión</a>
            <a href="#"
                class="text-black hover:text-gray-600 block rounded-md px-3 py-2 text-base font-medium">Cerrar
                sesión</a>
            <a href="#"
                class="block px-3 py-2 rounded-md text-base font-medium bg-primary-200 text-white bg-primary-100 hover:bg-primary-200 active:border-none active:mt-2 border-b-4 border-primary-300"
                aria-current="page">Registrarse</a>
        </div>
    </div>
</nav>